.title{background-color: rgb(255, 218, 96);
    height: 100px;margin: 5px;
    text-align: center;
    border: solid 4px rgb(255, 153, 0);
    border-radius: 10px;
}

.principal{
    background-color: rgb(112, 0, 139);
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
}   
.caja1{
    justify-content: center;
    background-color: rgb(78, 48, 23);
    height: 100%;
    width: 30%; 
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.c11{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px;
    height: 500px;
}
.c111{
    background-color: rgb(238, 222, 216);
    height: 500px;
    width: 47%;
    margin: 5px;
}

.caja2{
    background-color: rgb(14, 80, 17);

    width: 40%;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.caja{
    margin: 5px;
    height:150px;
    width: 150px;
    font-size: 50px;
    background-color: rgba(211, 250, 37, 0.959);
}
.caja3{
    background-color: rgb(244, 248, 12);
    height: 100%;
    width: 30%;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;

}
.c31{
    background-color: rgb(110, 110, 110);
    margin: 5px;
    width:100%;
    height: 200px;
}
.c32{
    margin: 5px;
    width:100%;
    height: 300px;
    display: flex;
    flex-direction: row;
}
.c{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 50%;
    margin: 5px;
}
